/*
	Put your custom CSS here.

	You may find these CSS3 properties useful:;
		transition
		transform
		transform-style
		backface-visibility
*/

.front {
	position: absolute;
}

.back {
	transform: rotateY(180deg);
}

.front, .back {
	transition: all 1s;
	backface-visibility: hidden;
}

.portfolio-item:hover .back {
	transform: rotateY(0deg);
}
.portfolio-item:hover .front {
	transform: rotateY(180deg);
}